// Normalize CSS
@import 'normalize.css';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

// Variables
$primary-color: #ffa501;
$font-color: #000000;
$background-color: #C0DBEE;

 //Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

// Header
.header {
  background-color: $background-color;
  padding: 20px;

  .burger {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;

    &__line {
      width: 100%;
      height: 3px;
      background-color: #000;
    }
  }
}

// Main content
.main-content {
  display: flex;
  background-image: url('../images/Background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 20px;
  color: $font-color;
  transition: filter 0.3s ease;
  overflow: hidden;

  h1 {
    font-size: 16px;
    color: $font-color;
  }

  h2 {
    font-size: 48px;
    color: $font-color;
  }
}

.vertical-text {
  display: flex;
  justify-content: flex-end;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 20px;
  letter-spacing: 1px;
  white-space: nowrap;
  align-content: center;

  p {
    margin: 0 auto;
  }

  .line-wrapper {
    position: relative;
    display: flex;
    align-items: center;

      .long-line {
        height: 70px;
        width: 1px;
        background-color: black;
        margin: 15px;
        border: none;
        //transform: rotate(90deg);

      }
    }
      .vertical-social {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .vertical__social-link {
        &{

        margin-bottom: 15px;
        }
        text-decoration: none;

        img {
          transform: rotate(90deg);
        }
      }

    }

    .introduction {
      max-width: 532px;
    }

    // Styled buttons
    .buttons {
      display: flex;
      gap: 10px;
      margin-top: 20px;

      .btn {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &--portfolio {
          background-color: $primary-color !important;
          color: #000000;
        }

        &--about {
          background-color: #ffffff;
          color: #000000;
          border: 1px solid #ffffff;
        }
      }
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100%;
      background-color: $primary-color;
      padding: 20px;
      transition: left 0.3s ease;
      z-index: 2;

      &--active {
        left: 0;
      }

      &__close {
        position: absolute;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        right: 25px
      }

      &__list {
        list-style: none;
        padding: 0;
        margin: 20px 0;
      }

      &__item {
        position: relative;
        margin: 10px 0;
        padding-left: 26px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-60%);
          width: 10px; /* Диаметр кружочка */
          height: 10px; /* Диаметр кружочка */
          border: 1px solid black; /* Граница кружочка */
          border-radius: 50%; /* Делаем элемент круглым */
          background-color: transparent; /* Фон прозрачный */
        }
      }

      &__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
      }

      &__social {
        display: flex;
        gap: 15px;
        justify-content: center;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
      }

      &__social-link {
        color: #fff;
        text-decoration: none;
      }
    }

    // for .header and .mainContent
    .blur {
      filter: blur(8px);
      //overflow:hidden;
    }
