$primary-color: #ffa501;

.useful-section {
  padding: 20px;
  background-color: #f9f9f9;

  h2 {
    margin: 20px auto;
    text-align: center;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container {
    width: 50%;
  }

  .timeline {
    position: relative;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 6.5px;
      top: 7.5px;
      bottom: 0;
      width: 2px;
      background-color: black;
      transform: translateX(2%);
    }

    .after-circle {
      width: 15px;
      height: 15px;
      background-color: $primary-color;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
    }

    h3 {
      margin: 0 60px 20px;
    }

    .timeline-item {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
      position: relative;

      .circle {
        width: 36px;
        height: 36px;
        background-color: $primary-color;
        border-radius: 50%;
        position: absolute;
        left: 50px;
        z-index: 10;
        overflow: visible;

        &::before {
          content: '';
          position: absolute;
          width: 42px;
          height: 2px;
          background-color: black;
          top: 50%;
          left: -42px;
          transform: translateY(-50%);
          z-index: 5;
        }
      }

      .content {
        padding: 0 20px;
        margin-left: 60px;
        width: calc(100% - 120px);
        .title {
          padding-left: 20px;
          padding-bottom: 12px;
          font-size: 14px;
        }
      }
    }
  }
}
